.container {
    width: 100%;
    background-color: red;
    height: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.container>form {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: none;
    max-width: 500px;
}


.container>form>.sub-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container>form>.sub-container>label {
    font-size: 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container>form>.sub-container>input {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}