<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../static/styles/nav.css" />
  <link rel="stylesheet" href="../static/styles/home.css" />
  <link rel="stylesheet" href="../static/styles/footer.css" />
  <script src="../static/js/home.js"></script>
</head>

<body>
  <nav>
    <div class="logo">
      <h4>Web Proyect</h4>
    </div>
    <div class="links">
      <a href="/src/main/resources/templates/home.html">Home</a>
      <a href="/proyectoWeb/src/main/resources/templates/prueba.html">About</a>
      <a href="/proyectoWeb/src/main/resources/templates/prueba.html">Services</a>
      <a href="/proyectoWeb/src/main/resources/templates/prueba.html">Contact</a>
    </div>
  </nav>

  <section>
    <h1>Integrantes</h1>
    <div class="holder">
      <div class="scroller">
        <div class="container">
          <div class="member">
            <h2>Member 1</h2>
            <picture>
              <img src="https://place-hold.it/300x500/666/fff" alt="Member 1" />
            </picture>
            <p>Member 1 description</p>
          </div>
          <div class="member">
            <h2>Member 2</h2>
            <picture>
              <img src="https://place-hold.it/300x500/666/fff" alt="Member 1" />
            </picture>
            <p>Member 2 description</p>
          </div>
          <div class="member">
            <h2>Member 3</h2>
            <picture>
              <img src="https://place-hold.it/300x500/666/fff" alt="Member 1" />
            </picture>
            <p>Member 3 description</p>
          </div>
          <div class="member">
            <h2>Member 4</h2>
            <picture>
              <img src="https://place-hold.it/300x500/666/fff" alt="Member 1" />
            </picture>
            <p>Member 4 description</p>
          </div>
        </div>
        <div class="container">
          <div class="member">
            <h2>Member 1</h2>
            <picture>
              <img src="https://place-hold.it/300x500/666/fff" alt="Member 1" />
            </picture>
            <p>Member 1 description</p>
          </div>
          <div class="member">
            <h2>Member 2</h2>
            <picture>
              <img src="https://place-hold.it/300x500/666/fff" alt="Member 1" />
            </picture>
            <p>Member 2 description</p>
          </div>
          <div class="member">
            <h2>Member 3</h2>
            <picture>
              <img src="https://place-hold.it/300x500/666/fff" alt="Member 1" />
            </picture>
            <p>Member 3 description</p>
          </div>
          <div class="member">
            <h2>Member 4</h2>
            <picture>
              <img src="https://place-hold.it/300x500/666/fff" alt="Member 1" />
            </picture>
            <p>Member 4 description</p>
          </div>
        </div>
        v>
      </div>
    </div>
  </section>
  <section>
    <h1>Conocenos</h1>
    <div class="member" id="member-1">
      <picture>
        <img src="https://place-hold.it/300x500/666/fff" alt="Member 1" />
      </picture>
      <div class="content">
        <h2>Luis Alejandro Vera Moreno</h2>
        <h3>Rol: Líder Técnico</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores
          deleniti labore vel officiis, dicta dolore eaque illo unde officia
          consectetur quibusdam quo neque assumenda laboriosam, incidunt
          aspernatur? Natus, pariatur magnam!
        </p>
        <div class="abilities">
          <h3>Habilidades</h3>
          <ul>
            <li>Java</li>
            <li>Spring Boot</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>React</li>
            <li>Node</li>
            <li>Express</li>
            <li>Python</li>
            <li>TailwindCss</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="member" id="member-2">
      <div class="content">
        <h2>Carlos Gabriel López Medina</h2>
        <h3>Rol: Líder Técnico</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores
          deleniti labore vel officiis, dicta dolore eaque illo unde officia
          consectetur quibusdam quo neque assumenda laboriosam, incidunt
          aspernatur? Natus, pariatur magnam!
        </p>
        <div class="abilities">
          <h3>Habilidades</h3>
          <ul>
            <li>Java</li>
            <li>Spring Boot</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>React</li>
            <li>Node</li>
            <li>Express</li>
            <li>Python</li>
            <li>TailwindCss</li>
          </ul>
        </div>
      </div>
      <picture>
        <img src="https://place-hold.it/300x500/666/fff" alt="Member 1" />
      </picture>
    </div>
    <div class="member" id="member-3">
      <picture>
        <img src="https://place-hold.it/300x500/666/fff" alt="Member 1" />
      </picture>
      <div class="content">
        <h2>Luis Alejandro Vera Moreno</h2>
        <h3>Rol: Líder Técnico</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores
          deleniti labore vel officiis, dicta dolore eaque illo unde officia
          consectetur quibusdam quo neque assumenda laboriosam, incidunt
          aspernatur? Natus, pariatur magnam!
        </p>
        <div class="abilities">
          <h3>Habilidades</h3>
          <ul>
            <li>Java</li>
            <li>Spring Boot</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>React</li>
            <li>Node</li>
            <li>Express</li>
            <li>Python</li>
            <li>TailwindCss</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="member" id="member-4">
      <div class="content">
        <h2>Carlos Gabriel López Medina</h2>
        <h3>Rol: Líder Técnico</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores
          deleniti labore vel officiis, dicta dolore eaque illo unde officia
          consectetur quibusdam quo neque assumenda laboriosam, incidunt
          aspernatur? Natus, pariatur magnam!
        </p>
        <div class="abilities">
          <h3>Habilidades</h3>
          <ul>
            <li>Java</li>
            <li>Spring Boot</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>React</li>
            <li>Node</li>
            <li>Express</li>
            <li>Python</li>
            <li>TailwindCss</li>
          </ul>
        </div>
      </div>
      <picture>
        <img src="https://place-hold.it/300x500/666/fff" alt="Member 1" />
      </picture>
    </div>
  </section>

  <footer>
    <div class="sb-footer section-padding">
      <div class="sb-footer-links">
        <div class="sb-footer-links-div">
          <h4>For Business</h4>
          <a href="/test">
            <p>Employer</p>
          </a>
          <a href="/health">
            <p>Health Plan</p>
          </a>
          <a href="/individual">
            <p>Individual</p>
          </a>
        </div>

        <div class="sb-footer-links-div">
          <h4>Resources</h4>
          <a href="/testing">
            <p>Financial</p>
          </a>
          <a href="/testing">
            <p>Orientation</p>
          </a>
        </div>
        <div class="sb-footer-links-div">
          <h4>Partners</h4>
          <a href="/employers">
            <p>Swing tech</p>
          </a>
        </div>
        <div class="sb-footer-links-div">
          <h4>Company</h4>
          <a href="/testing2">
            <p>Banks</p>
          </a>
        </div>
        <div class="sb-footer-links-div">
          <h4>Comming soon on</h4>
          <div class="socialmedia">
            <p>
              <img src="./facebook.png" alt="" />
            </p>
            <p>
              <img src="./instagram.png" alt="" />
            </p>
            <p>
              <img src="./linkedin.png" alt="" />
            </p>
            <p>
              <img src="./twitter.png" alt="" />
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="sb-footer-below">
      <div class="sb-footer-below-links">
        <a href="/terms">
          <div>
            <p>Terms & conditions</p>
          </div>
        </a>
        <a href="/terms">
          <div>
            <p>Privacy</p>
          </div>
        </a>
        <a href="/terms">
          <div>
            <p>Security</p>
          </div>
        </a>
        <a href="/terms">
          <div>
            <p>Cookie Declaration</p>
          </div>
        </a>
      </div>
    </div>
  </footer>
</body>

</html>