<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="./styles/nav.css" />
  <link rel="stylesheet" href="/styles/home.css" />
  <link rel="stylesheet" href="./styles/footer.css" />
  <link rel="stylesheet" href="./styles/root.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <script src="/js/home.js"></script>
</head>

<body>
  <nav>
    <div class="logo">
      <h4>Web Proyect</h4>
    </div>
    <div class="links">
      <a href="/proyectoWeb/src/main/resources/static/index.html" class="active">Home<span></span></a>
      <a href="/proyectoWeb/src/main/resources/templates/prueba.html">About<span></span></a>
      <a href="/proyectoWeb/src/main/resources/templates/prueba.html">Services<span></span></a>
      <a href="../templates/prueba.html">Contact<span></span></a>
    </div>
  </nav>

  <section>
    <h1>Integrantes</h1>
    <div class="holder">
      <div class="scroller">
        <div class="container">
          <a href="#member-4" class="acontainer">
            <div class="member">
              <h2>Laura Ovalle</h2>
              <picture>
                <img src="./images/lau.jpg" alt="Member 1" />
              </picture>
              <p>Member 1 description</p>
            </div>
            <div class="member">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur laboriosam nulla aut itaque facere
                illo voluptatum eum assumenda quo, ducimus vero quasi voluptatibus dignissimos nostrum unde quis
                expedita harum dolorem.</p>
            </div>
          </a>
          <a href="#member-3" class="acontainer">
            <div class="member">
              <h2>José Rodríguez</h2>
              <picture>
                <img src="./images/jose.png" alt="Member 1" />
              </picture>
              <p>Member 2 description</p>
            </div>
            <div class="member">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur laboriosam nulla aut itaque facere
                illo voluptatum eum assumenda quo, ducimus vero quasi voluptatibus dignissimos nostrum unde quis
                expedita harum dolorem.</p>
            </div>
          </a>
          <a href="#member-1" class="acontainer">
            <div class="member">
              <h2>Luis Vera</h2>
              <picture>
                <img src="./images/lucho.jpg" alt="Member 1" />
              </picture>
              <p>Member 3 description</p>
            </div>
            <div class="member">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur laboriosam nulla aut itaque facere
                illo voluptatum eum assumenda quo, ducimus vero quasi voluptatibus dignissimos nostrum unde quis
                expedita harum dolorem.</p>
            </div>
          </a>
          <a href="#member-2" class="acontainer">
            <div class="member">
              <h2>Carlos López</h2>
              <picture>
                <img src="./images/carlos.jpg" alt="Member 1" />
              </picture>
              <p>Member 4 description</p>
            </div>
            <div class="member">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur laboriosam nulla aut itaque facere
                illo voluptatum eum assumenda quo, ducimus vero quasi voluptatibus dignissimos nostrum unde quis
                expedita harum dolorem.</p>
            </div>
          </a>
        </div>
        <div class="container">
          <a href="#member-4" class="acontainer">
            <div class="member">
              <h2>Laura Ovalle</h2>
              <picture>
                <img src="./images/lau.jpg" alt="Member 1" />
              </picture>
              <p>Member 1 description</p>
            </div>
            <div class="member">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur laboriosam nulla aut itaque facere
                illo voluptatum eum assumenda quo, ducimus vero quasi voluptatibus dignissimos nostrum unde quis
                expedita harum dolorem.</p>
            </div>
          </a>
          <a href="#member-3" class="acontainer">
            <div class="member">
              <h2>José Rodríguez</h2>
              <picture>
                <img src="./images/jose.png" alt="Member 1" />
              </picture>
              <p>Member 2 description</p>
            </div>
            <div class="member">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur laboriosam nulla aut itaque facere
                illo voluptatum eum assumenda quo, ducimus vero quasi voluptatibus dignissimos nostrum unde quis
                expedita harum dolorem.</p>
            </div>
          </a>
          <a href="#member-1" class="acontainer">
            <div class="member">
              <h2>Luis Vera</h2>
              <picture>
                <img src="./images/lucho.jpg" alt="Member 1" />
              </picture>
              <p>Member 3 description</p>
            </div>
            <div class="member">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur laboriosam nulla aut itaque facere
                illo voluptatum eum assumenda quo, ducimus vero quasi voluptatibus dignissimos nostrum unde quis
                expedita harum dolorem.</p>
            </div>
          </a>
          <a href="#member-2" class="acontainer">
            <div class="member">
              <h2>Carlos López</h2>
              <picture>
                <img src="./images/carlos.jpg" alt="Member 1" />
              </picture>
              <p>Member 4 description</p>
            </div>
            <div class="member">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur laboriosam nulla aut itaque facere
                illo voluptatum eum assumenda quo, ducimus vero quasi voluptatibus dignissimos nostrum unde quis
                expedita harum dolorem.</p>
            </div>
          </a>
        </div>

      </div>
    </div>
  </section>
  <section>
    <h1>Conocenos</h1>
    <div class="member" id="member-1">
      <picture>
        <img src="./images/lucho.jpg" alt="Member 1" />
      </picture>
      <div class="content">
        <h2>Luis Alejandro Vera Moreno</h2>
        <h3>Rol: Líder Técnico</h3>
        <p>
          A lo largo de mi trayectoria estudiantil / profesional, he desarrollado una gran multiplicidad de proyectos,
          desde IA, arquitectura en cloud, devops y desarrollo de negocios. De entre mis principales fortalezas, se
          destacan:
        </p>
        <ul>
          <li>Liderazgo</li>
          <li>Adaptabilidad</li>
          <li>Responsabilidad</li>
          <li>Planeación en TI</li>
          <li>Expresión oral</li>
          <li>Organización</li>
          <li>Competitividad</li>
          <li>Pensamiento crítico</li>
        </ul>
        <div class="abilities">
          <h3>Habilidades</h3>
          <ul>
            <li>Java</li>
            <li>Spring Boot</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>React</li>
            <li>Node</li>
            <li>Express</li>
            <li>Python</li>
            <li>TailwindCss</li>
            <li>Git</li>
            <li>Spark</li>
            <li>GraphQL</li>
            <li>MySQL</li>
            <li>Mongo</li>
            <li>TensorFlow</li>
            <li>C++</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="member" id="member-2">
      <div class="content">
        <h2>Carlos Gabriel López Medina</h2>
        <h3>Rol: Líder de Planeación</h3>
        <p>
          En estos años de experiencia en desarrollo de proyectos de software, he adquirido habilidades en el manejo de
          diferentes
          lenguajes de programación,técnicas, bases de datos y herramientas de diseño. De entre mis principales
          fortalezas, se
          destacan:
        </p>
        <ul>
          <li>Liderazgo</li>
          <li>Responsabilidad</li>
          <li>Adaptabilidad</li>
          <li>Innovación</li>
          <li>Creativitad</li>
          <li>Organización</li>
          <li>Competitividad</li>
          <li>Pensamiento crítico</li>
          <li>Flexibilidad</li>
        </ul>
        <div class="abilities">
          <h3>Habilidades</h3>
          <ul>
            <li>Java</li>
            <li>Spring Boot</li>
            <li>HTML</li>
            <li>C#</li>
            <li>C++</li>
            <li>SQL</li>
            <li>Mongo</li>
            <li>JavaScript</li>
            <li>React</li>
            <li>Node</li>
            <li>Express</li>
            <li>Python</li>
            <li>CSS</li>
            <li>GIT</li>
            <li>Figma</li>
          </ul>
        </div>
      </div>
      <picture>
        <img src="./images/carlos.jpg" alt="Member 1" />
      </picture>
    </div>
    <div class="member" id="member-3">
      <picture>
        <img src="./images/jose.png" alt="Member 1" />
      </picture>
      <div class="content">
        <h2>José Rodríguez</h2>
        <h3>Rol: Líder Técnico</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores
          deleniti labore vel officiis, dicta dolore eaque illo unde officia
          consectetur quibusdam quo neque assumenda laboriosam, incidunt
          aspernatur? Natus, pariatur magnam!
        </p>
        <div class="abilities">
          <h3>Habilidades</h3>
          <ul>
            <li>Java</li>
            <li>Spring Boot</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>React</li>
            <li>Node</li>
            <li>Express</li>
            <li>Python</li>
            <li>TailwindCss</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="member" id="member-4">
      <div class="content">
        <h2>Laura Valentina Ovalle Benítez</h2>
        <h3>Rol: Líder Técnico</h3>
        <p>
          He desarrollado una gran variedad de proyectos, con énfasis en innovación, creatividad y solución de
          problemas; de entre mis principales fortalezas, se destacan:
        </p>
        <ul>
          <li>Liderazgo</li>
          <li>Planeación estratégica</li>
          <li>Organización</li>
          <li>Comunicación</li>
          <li>Visión gerencial</li>
          <li>Administración de recursos humanos</li>
          <li>Aprendizaje rápido</li>
          <li>Expresión oral</li>
        </ul>
        <div class="abilities">
          <h3>Habilidades</h3>
          <ul>
            <li>Java</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>C++</li>
            <li>SQL</li>
            <li>Figma</li>
            <li>Git</li>
            <li>Mongo</li>
            <li>TensorFlow</li>
            <li>Canva</li>
          </ul>
        </div>
      </div>
      <picture>
        <img src="./images/lau.jpg" alt="Member 1" />
      </picture>
    </div>
  </section>

  <footer>
    <div class="sb-footer section-padding">
      <div class="sb-footer-links">
        <div class="sb-footer-links-div">
          <h4>For Business</h4>
          <a href="/test">
            <p>Employer</p>
          </a>
          <a href="/health">
            <p>Health Plan</p>
          </a>
          <a href="/individual">
            <p>Individual</p>
          </a>
        </div>

        <div class="sb-footer-links-div">
          <h4>Resources</h4>
          <a href="/testing">
            <p>Financial</p>
          </a>
          <a href="/testing">
            <p>Orientation</p>
          </a>
        </div>
        <div class="sb-footer-links-div">
          <h4>Partners</h4>
          <a href="/employers">
            <p>Swing tech</p>
          </a>
        </div>
        <div class="sb-footer-links-div">
          <h4>Company</h4>
          <a href="/testing2">
            <p>Banks</p>
          </a>
        </div>
        <div class="sb-footer-links-div">
          <h4>Comming soon on</h4>
          <div class="socialmedia">
            <p>
              <img src="./facebook.png" alt="" />
            </p>
            <p>
              <img src="./instagram.png" alt="" />
            </p>
            <p>
              <img src="./linkedin.png" alt="" />
            </p>
            <p>
              <img src="./twitter.png" alt="" />
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="sb-footer-below">
      <div class="sb-footer-below-links">
        <a href="/terms">
          <div>
            <p>Terms & conditions</p>
          </div>
        </a>
        <a href="/terms">
          <div>
            <p>Privacy</p>
          </div>
        </a>
        <a href="/terms">
          <div>
            <p>Security</p>
          </div>
        </a>
        <a href="/terms">
          <div>
            <p>Cookie Declaration</p>
          </div>
        </a>
      </div>
    </div>
  </footer>


</body>

</html>