<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org%22%3E/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/form.css">
    <script src="/proyectoWeb/src/main/resources/static/js/form.js"></script>
    <link rel="stylesheet" href="../static/styles/nav.css">
</head>

<body>
    <div class="container">
        <h1>This is a form</h1>
        <form onsubmit="createApplication()">
            <div class="sub-container">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name">
            </div>
            <br>
            <div class="sub-container">
                <label for="lastname">Lastname:</label>
                <input type="text" id="lastname" name="lastname">
            </div>
            <br>
            <div class="sub-container">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email">
            </div>
            <br>
            <div class="sub-container">
                <label for="semester">Semester:</label>
                <input type="number" id="semester" name="semester">
            </div>
            <br>
            <div class="sub-container">
                <label for="description">Description:</label>
                <input type="text" id="description" name="description">
            </div>
            <br>
            <input type="submit" id="button" value="Submit">
        </form>
    </div>
</body>

</html>