nav{
    background-color: #f0f0f0;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    height: 5rem;
}

nav > .logo{
    border: 1px solid black;
    display: flex;
    padding: 0 1rem;
    align-items: center;
}

nav > .links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

nav > .links > a{
    text-decoration: none;
    color: black;
}